@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #dbf26e;
    background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    font-family: "Space mono",monospace;
}

.game-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links ul li a:hover {
    background-color: white;
    color: black;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

#gameoverPopup {
    color: black;
    font-family: 'Poppins',sans-serif;
    background-color: #dbf26e;
    background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
    padding: 1rem;
    box-sizing: border-box;
}

#gameoverPopup::backdrop{
    background-color: rgb(0,0,0,0.5);
}

#gameoverPopup p {
    font-size: 5vmin;
    text-align: center;
}

#gameoverPopup div {
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.snake {
    background-color: hsl(200, 100%, 50%);
    /* border: .25vmin dashed black; */
}

.food {
    background-color: hsl(50, 100%, 50%);
    border: .25vmin solid black;
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3vmin;
}

#game-board {
    background-color: #CCC;
    width: 75vmin;
    height: 75vmin;
    border: .50vmin solid black;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
}

#top-bar {
    background-color: #333;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    width: 75vmin;
    border-top: .50vmin solid black;
    border-right: .50vmin solid black;
    border-left: .50vmin solid black;
}

#score {
    width: 100%;
    font-size: 3vmin;
}

#highscore {
    width: 100%;
    font-size: 3vmin;
}

#target-blocks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#target-blocks span {
    font-size: 3vmin;
}

#target-blocks div {
    border: 0.25vmin solid black;
    height: 3vmin;
    width: 3vmin;
    background-color: "transparent";
}

#timer {
    text-align: center;
    background-color: #333;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 75vmin;
    font-size: 3vmin;
    border-bottom: .50vmin solid black;
    border-right: .50vmin solid black;
    border-left: .50vmin solid black;
}

#direction-control {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #333;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 75vmin;
    font-size: 3vmin;
    border-bottom: .50vmin solid black;
    border-right: .50vmin solid black;
    border-left: .50vmin solid black;
}
 
#direction-control div{
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-right: .50vmin solid black;
    border-left: .50vmin solid black;
}